.product-list-container {
  margin: 1rem;
  overflow-x: auto;
}

.product-table {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  font-size: 14px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  th,
  td {
    padding: 0.75rem 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    white-space: nowrap;
  }

  th {
    background-color: #f0f4f8;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
  }

  tr:hover {
    background-color: #f9f9f9;
  }
}

@media (max-width: 787px) {
  .product-table {
    thead {
      display: none;
    }

    tbody {
      // display: flex;
      // flex-direction: column;
      // gap: 1rem;
    }
    tr {
      display: flex;
      flex-direction: column;
      background-color: white;
      padding: 1rem;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      
    }
  }
}
